
body{
	background-color: #a9d0da;
	padding: 1em;
}
.form-control{
	width: 50%;
	height: 50%;
}
.key {
	font-family: 'Arvo', serif;
}
.conatiner{
	display: flex;
	justify-content: center;
	align-items: center;
}
h1 {
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}
.btn-info{
	outline: none;
	color: black;
	background-image: url("images/keyboard-key.png");
	background-size: cover;
	background-color: #17a2b808;
	border-color: #17a2b808;
}
.btn-info:hover{
	background-color: none;
}
.container{
	text-align: center;
}



